body{
	background-color: #F5F5F5;
}
.text_small{
	font-size: 0.8rem;
}
/* iframe 的样式*/
.my_header{
	width: 100%;
	border: 0;
}
.my_footer{
	width: 100%;
	border: 0;
}
/* 公用标题 */
.tit{
	border-bottom: 2px solid #d9d9d9;
	font-size: 24px;
	color: #666;
}
.tit img{
	margin-right: 15px;
}
/* 公用标题-end */
@media (min-width:992px) {
	.my_header{
		height: 6.2rem;
	}
	.my_footer{
		height: 23rem;
	}
}
@media (min-width:576px) {
	.my_header{
		height: 12rem;
	}
	.my_footer{
		height: 36rem;
	}
}