/* banner轮播样式 */
.banner{
	margin-bottom: 20px;
}
.banner img{
	width: 100%;
	height: 100%;
}
.carousel-control-prev,.carousel-control-next{
	width: 4%;
	height: 40%;
	top:26%;
	border-radius: 0.25rem;
	background-color: #aaa;
}
.carousel-indicators li{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	margin: 0 0.25rem;
	background-color: #fff;
}
.carousel-indicators li.active{
	background-color: #0AA1ED;
}
/* banner轮播样式 -end*/
